<% title("Home Page") %>
<h1><i class="fa fa-home"></i> Home Page <small>views/pages/home.html.erb</small></h1>

<!-- This is where the single page app gets rendered -->
<div id="main"></div>

<script id="searchTemplate" type= 'text/x-underscore-template'>
  <form>
    <div class="form-group">
      <label for="location">Where do you want to travel to?</label>
      <input type="text" class="form-control" id="location">
    </div>
    <div class="form-group">
      <label for="radius">How far beyond that place do you wish to explore?</label>
      <input type="number" class="form-control" id="radius">
    </div>
    <div class="form-group">
      <label for="place_tag">What type of places are you interested in?</label>
      <input type="text" class="form-control" id="place_tag">
    </div>    
    <div class="form-group">
      <label for="number_sights">How many places do you wish to visit?</label>
      <input type="number" class="form-control" id="number_sights">
    </div>     
    <button class="search btn btn-default">Create Trip</button>
  </form>
</script>

<script id="tripViewTemplate" type= 'text/x-underscore-template'>
  <div class="row">
    <div class="col-md-6">
      <p>Render trip timeline</p>
      <ul class="timeline">
          <li>
              <div class="timeline-image">
                  <img class="img-circle img-responsive" src="http://goo.gl/GPOFpQ" alt="">
              </div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>2009-2011</h4>
                      <h4 class="subheading">Our Humble Beginnings</h4>
                  </div>
                  <div class="timeline-body">
                      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
              </div>
          </li>
          <li class="timeline-inverted">
              <div class="timeline-image">
                  <img class="img-circle img-responsive" src="" alt="">
              </div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>March 2011</h4>
                      <h4 class="subheading">An Agency is Born</h4>
                  </div>
                  <div class="timeline-body">
                      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
              </div>
          </li>
          <li>
              <div class="timeline-image">
                  <img class="img-circle img-responsive" src="#" alt="">
              </div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>December 2012</h4>
                      <h4 class="subheading">Transition to Full Service</h4>
                  </div>
                  <div class="timeline-body">
                      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
              </div>
          </li>
          <li class="timeline-inverted">
              <div class="timeline-image">
                  <img class="img-circle img-responsive" src="#" alt="">
              </div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>July 2014</h4>
                      <h4 class="subheading">Phase Two Expansion</h4>
                  </div>
                  <div class="timeline-body">
                      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
              </div>
          </li>
          <li class="timeline-inverted">
              <div class="timeline-image">
                  <h4>Be Part
                      <br>Of Our
                      <br>Story!</h4>
              </div>
          </li>
      </ul>    
    </div>
    <div class="col-md-6">
      <p>Render trip directions and google map</p>
      <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
      <div id="map"></div>
    </div>
  </div>
</script>

<script id="placeViewTemplate" type='text/x-underscore-template'>
  <h2>Render place view </h2>
</script>


<script id="appView-template" type="text/x-template">
  <h2>Recent Trips</h2>
  <ul id="trips"></ul>
</script>

<script id = 'tripListView-template' type='text/x-underscore-template'>
  <h3> {{ location }} </h3>
</script>

